<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Test API Page</title>
  <script src="https://unpkg.com/axios@1.6.7/dist/axios.min.js"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.2.0/crypto-js.min.js"></script>
</head>
<body>

<div id="app">
  <section class="login-form">
    <section class="has-login" v-if="!loginUsername">
      <section class="form-item">
        <span class="label">用户名：</span>
        <input class="username" type="text" v-model="formValue.username" />
      </section>
      <section class="form-item">
        <span class="label">密 码：</span>
        <input class="password" type="password" v-model="formValue.password" />
      </section>
    </section>
    <section v-else>当前已登录用户：{{ loginUsername }}</section>

    <button class="login-btn" @click="handleLogin" v-if="!loginUsername">登 录</button>
    <button class="login-btn" @click="handleLogout">退出登录</button>
  </section>

  <hr />

  <section class="api-result-box">
    <section class="form-item">
      <button class="login-btn" @click="handleApiRequest($event, 'userInfo')">点击当前用户信息</button>
      <button class="login-btn" @click="handleApiRequest($event, 'userList')">点击获取所有注册的用户列表</button>
      <section>
        <span class="label">登录/非登录，调用接口api结果：</span>
        <p class="api-result">{{apiRes}}</p>
      </section>
    </section>
  </section>
</div>

<script type="text/javascript">
  const { createApp, ref, reactive, computed } = Vue

  createApp({
    setup() {
      const formValue = reactive({
        username: '',
        password: ''
      })
      const apiRes = ref('')
      const loginUsername = computed(() => {
        return localStorage.getItem('web_username') || ''
      })

      // 处理登录
      const handleLogin = async () => {
        if (!formValue.username || !formValue.password) {
          alert('用户名/密码不能为空！')
          return false
        }
        const md5Password = await CryptoJS.MD5(formValue.password).toString(CryptoJS.enc.Hex)
        axios.post('http://localhost:3000/noauth/login', {
          username: formValue.username,
          password: md5Password
        })
          .then(function (res) {
            const { data, code, msg } = res.data
            if (code !== 1) {
              alert(msg)
              return
            }

            localStorage.setItem('web_jwt_token', data.token)
            localStorage.setItem('web_username', data.username)
            alert(data.username + '登录成功！')
            location.reload()
          })
          .catch(function (err) {
            console.log(err);
          })
      }

      // 处理注销
      const handleLogout = () => {
        axios.post('http://localhost:3000/auth/logout', {}, {
          headers: {
            'Authorization': 'Bearer ' + localStorage.getItem('web_jwt_token')
          }
        })
          .then(function (res) {
            const { data, code, msg } = res.data
            if (code !== 1) {
              alert(msg)
              if (code === 10002) {
                localStorage.removeItem('web_jwt_token')
                localStorage.removeItem('web_username')
                location.reload()
              }
              return
            }

            alert(' 注销成功!')
            localStorage.removeItem('web_jwt_token')
            localStorage.removeItem('web_username')
            location.reload()
          })
          .catch(function (err) {
            console.log(err);
          })
      }

      /**
       * auth/noauth 接口测试
       * @param event
       * @param apiType
       */
      const handleApiRequest = (event, apiType) => {
        const apiMap = {
          'userInfo': 'http://localhost:3000/auth/getUserInfo',
          'userList': 'http://localhost:3000/auth/getUserList'
        }
        axios.post(apiMap[apiType], {}, {
          headers: {
            'Authorization': 'Bearer ' + localStorage.getItem('web_jwt_token')
          }
        })
          .then(function (res) {
            const { data, code, msg } = res.data
            if (code !== 1) {
              alert(msg)
              if (code === 10002) {
                localStorage.removeItem('web_jwt_token')
                localStorage.removeItem('web_username')
                location.reload()
              }
              return
            }
            apiRes.value = data
          })
          .catch(function (err) {
            console.log(err);
          })
      }

      return {
        loginUsername,
        formValue,
        apiRes,
        handleLogin,
        handleLogout,
        handleApiRequest
      }
    }
  }).mount('#app')
</script>
</body>
</html>
